
@import "variables";
@import "colors";

*{
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  background-color:$bodyColor;
  min-width: $pageMinWidth;
  margin: 0;
}


.container{
  width: 1600px;
  min-width: $pageMinWidth;
  margin: $containerCenter;
  text-align: center;
  background-color: $containerColor;
  padding-bottom: 60px;


  header{
    height: 80px;
    background-color: $albumsColor;

    .header-container{
      width: 1000px;
      position: relative;
      margin: $containerCenter;

      >img{
        width: 80px;
        border-radius: 50%;
        position: absolute;
        left: 0;
      }

    }


  }


  .album-container{
    display: $flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 100px auto;

    .albums{
      width: calc(100% / 3 - 60px);
      background-color: $albumsColor;
      margin: 15px 30px;
      padding: 15px;

      .album-cover-container{
        width: 100%;

        >img{
          width: 100%;
        }
      }

      h1{
        color: $albumTitleColor;
      }

      h2{
        color: $authorColor;
      }

      h3{
        color: $yearColor;
        margin-top: -16px;
      }
    }
  }
}
