<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>php ajax dischi front-end</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>

    <div id="app">
      <div class="container">
        <!-- header -->
        <header @mouseOver="fillByGenre()">
          <div class="header-container">
            <img src="img/spotify.jpg" alt="">
            <select class="" name="" v-model="select">
              <option value="">ALL</option>
              <option v-for="element in genres" @click="selectByGenre()">{{element}}</option>
            </select>
          </div>
        </header>
        <!--end header -->

        <!-- albums -->
        <div class="album-container">
          <div v-for="element in dischi" class="albums">
             <div class="album-cover-container">
               <img :src="element.cover" alt="">
             </div>
             <h1>{{element.title}}</h1>
             <h2>{{element.author}}</h2>
             <h3>{{element.year}}</h3>
           </div>
         </div>
         <!-- end albums -->
       </div>
    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
